# {{ ansible_managed }}
[commands]
update_cmd = {{ wtd_yum_cron_hourly_update_cmd }}
update_messages = {{ wtd_yum_cron_hourly_update_messages }}
download_updates = {{ wtd_yum_cron_hourly_download_updates }}
apply_updates = {{ wtd_yum_cron_hourly_apply_updates }}
random_sleep = {{ wtd_yum_cron_hourly_random_sleep }}

[emitters]
system_name = {{ wtd_yum_cron_system_name }}
emit_via = {{ wtd_yum_cron_hourly_emit_via }}
output_width = {{ wtd_yum_cron_hourly_output_width }}

[email]
email_from = {{ wtd_yum_cron_email_from }}
email_to = {{ wtd_yum_cron_email_to }}
email_host = {{ wtd_yum_cron_email_host }}

[groups]
group_list = {{ wtd_yum_cron_group_list }}
group_package_types = {{ wtd_yum_cron_group_package_types }}

[base]
debuglevel = {{ wtd_yum_cron_debuglevel }}
skip_broken = {{ wtd_yum_cron_skip_broken }}
mdpolicy = {{ wtd_yum_cron_mdpolicy }}
assumeyes = {{ wtd_yum_cron_assumeyes }}
